body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(assets/cyprus.jpg) no-repeat center center fixed;
  background-size: cover;
}
#textbox{  
  width: 90%;
  margin: 15% 7% 40% 10%;
  font-family: Geneva;
  text-shadow: 5px 5px 3px #333333;
  color: antiquewhite;
  letter-spacing: 1.2;
  line-height: 1.2;
}
#quote{
  text-align: left;
  font-size: 40px;
  font-style: italic;
}
#auth{
  font-size: 22px;
  text-align: right;
}